name: Continuous Integration
on: [push]
jobs:
  build:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.head_commit.message, 'wip')"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Setup env
        run: |
          make install-ci
          cp .env.ci .env
      - name: Builds the projects
        run: |
          ./gradlew build
